#pane {
	-fx-font-family: "Helvetica";
}
#calculate-button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 10, 5, 10, 5;
    -fx-font-size: 16px;
}
#reset-button {
	-fx-background-color: linear-gradient(#FF3823, #E83915);
	-fx-pref-width: 80px;
	-fx-background-radius: 15 ;
	-fx-text-fill: white;
}
#info-button {
    -fx-background-color: #414141;
}
.label {
	-fx-font: 16px "Helvetica";
	-fx-text-fill: #FFFFFF;
}
.text-field {
    -fx-background-color: #a9a9a9 , #CCCBBE, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.text-field:focused {
    -fx-background-color: #a9a9a9 , #ABAA9F, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.combo-box {
	-fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 4,3,2;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 3, 3, 3, 3;
}
#pane {
    -fx-background-image: url("images/ui.png");
}